*.o
\#*\#
*~
arkiv
slask
target/fpga/work*
target/software/*/output
target/software/*/result
tools/bin2hex.exe
tools/checksum.exe
tools/dump_vcd.exe
tools/hex2bin.exe
tools/make_array.exe
tools/make_mem.exe
tools/makeappl.exe
tools/promgen.exe

appl.bin
target/fpga/_xmsgs/bitgen.xmsgs
target/fpga/_xmsgs/map.xmsgs
target/fpga/_xmsgs/ngdbuild.xmsgs
target/fpga/_xmsgs/par.xmsgs
target/fpga/_xmsgs/trce.xmsgs
target/fpga/_xmsgs/xst.xmsgs
target/fpga/ultimate_1541_700a_map.xrpt
target/fpga/ultimate_1541_700a_par.xrpt
target/fpga/xilinx_device_details.xml
target/fpga/xlnx_auto_0_xdb/cst.xbcd
target/software/2nd_boot/python_out_nano
target/software/ultimate/python_out_iec
target/software/ultimate/python_out_nano
